env
*.DS_Store
*.pyc
__pycache__
*.sqlite3
.idea/*
.env
.ebextensions/*
.elasticbeanstalk/*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
