{% extends "base.html" %}
{% block title %}Login{% endblock title %}

{% block content %}
<div class="container">
  <div class="login-container">

    <div class="panel panel-default">
      <div class="login-style">

        <div class="panel-body">

          <div id="login_form">
            <form class="form-horizontal" name="LoginForm" action="{% url 'login_user' %}" method="post">
              {% csrf_token %}
              {% if next %}
                <input type="hidden" name="next" value="{{ next }}" />
              {% endif %}
              <h2>Please sign-in</h2>
              <div class="form-group {% if form.username.errors %} has-error {% endif %}">
                  <p>{{ form.username.errors }}</p>
                <div class="col-sm-4">
                  <input type="text" class="form-control" id="un" name="username" placeholder="Email">
                </div>
              </div>
              <div class="form-group {% if form.password.errors %} has-error {% endif %}">
                  <p>{{ form.password.errors }}</p>
                <div class="col-sm-4">
                  <input type="password" class="form-control" id="pw" name="password" placeholder="Password">
                </div>
              </div>
              <div class="form-group hidden">
                <div class="col-sm-12">
                  <input type="text" class="form-control" id="redirect" name="redirect">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-0 col-sm-4">
                  {% if form.errors %}
                    <p>{{ form.non_field_errors }}</p>
                    <p>Your username and password didn't match. Please try again.</p>
                  {% endif %}
                  <button type="submit" class="btn btn-block btn-primary">Sign in</button>
                </div>
              </div>
            </form>
            Don't have an account? <a onclick="regPage()" href="#">Click here to sign up</a>
            <!--<a href="{% url 'register_user' %}"> Click here to sign up</a>-->
            <br><br>
            <select id="lang">
              <option value="en">English</option>
              <option value="de">Deutsch</option>
              <option value="fr">Francais</option>
              <option value="es">Espanol</option>
            </select>
          </div>

        </div>

      </div>

    </div>

  </div>
</div>

<script>
    var fromUri;
    var urlParams;
    (window.onpopstate = function () {
        var match,
            pl     = /\+/g,  // Regex for replacing addition symbol with a space
            search = /([^&=]+)=?([^&]*)/g,
            decode = function (s) { return decodeURIComponent(s.replace(pl, " ")); },
            query  = window.location.search.substring(1);

        urlParams = {};
        while (match = search.exec(query)) {
            urlParams[decode(match[1])] = match[2];
        }
        fromUri = urlParams['fromURI'];
        console.log(decode(fromUri));
        document.getElementById('redirect').value=decode(fromUri);
    })();

    function regPage() {
        url = "/register";
        if (fromUri != 'undefined') {
            encoded = fromUri;
            url = url + '?fromURI=' + encoded;
        }
        url = url + '&lang=' + document.getElementById('lang').value
        window.location = url;
    }

</script>
{% endblock %}