{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="intro-pg">

    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1>Okta Demo - My Workplace</h1>

          <p>Roll your own with the <a href="http://developer.okta.com" target="_blank" class="ref-lb">Okta developer platform</a>
          </p>
          <td>
            <a class="btn btn-primary btn-cs" href="{% url 'login_user' %}">
              Click here to see the demo
            </a>
          </td>

        </div>
      </div>

    </div>

</div>
{% endblock %}

{% load static %}
{% block page_js %}
<script src="{% static 'js/index.js' %}" type="text/javascript"></script>
{% endblock %}
