{% extends "base.html" %}
{% block title %}MyWorkplace{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div class="container">
    <h2 sessionUserId="{{dict.session.userId}}">My Workplace</h2>

    <div class="col-sm-8">
        <div class="panel panel-default">
            <div class="panel-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <table class = "table table-striped table-hover">
                    <caption>MY WORKPLACE TOOLS:</caption>
                    <tbody id="my_links">
                        <tr>
                            <td>
                                <a href="https://zeekhoo.okta.com/home/boxnet/0oaos3sbfpAXAke8K1t6/72" target="#">
                                    <img src="https://ok4static.oktacdn.com/bc/globalFileStoreRecord?id=gfsi39mfagSNRYJWOFWL">
                                    <label>Box</label>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="https://zeekhoo.okta.com/home/salesforce/0oal9rlvuRLdkqRzD1t6/46" target="#">
                                    <img src="https://ok4static.oktacdn.com/bc/globalFileStoreRecord?id=gfs12onylngWM3E7p1d8">
                                    <label>Salesforce</label>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="https://zeekhoo.okta.com/home/amazon_aws/0oas66qdjc224FOzv1t6/272" target="#">
                                    <img src="https://ok4static.oktacdn.com/assets/img/logos/amazon-aws.0ade36569a58c5a43c01603e2d259aa9.png">
                                    <label>AWS</label>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}